<?xml version="1.0" encoding="utf-8"?>
<packages>
<!-- <package id="dashlane" /> -->
  <package id="7zip.install" />
  <package id="googlechrome" />
  <package id="notepadplusplus.install" />  
  <package id="spotify" />
  <package id="aimp" />
  <package id="treesizefree" />

  <!--
  <package id="firefox" />
  <package id="dropbox" />
  <package id="google-backup-and-sync" />
  <package id="amazondrive" />
  <package id="plexmediaserver" />
  <package id="foxitreader" />
  <package id="teamviewer" />
  <package id="skype" />
  <package id="ccleaner" />
  -->
</packages>