<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotnetcore-sdk" />
  <package id="nodejs" />
  <package id="python3" />
  <package id="git" />
  <package id="cmdermini" />
  <package id="wyam" />
  <package id="awscli" />
  <package id="virtualbox" />
  <package id="vagrant" />
  <package id="terraform" />
  <package id="vscode" />
  
  <!--
  <package id="visualstudio2017community" />
  <package id="visualstudio2017-workload-netcoretools" />
  <package id-"visualstudio2017-workload-netweb" />
  
  <package id="golang" />
  <package id="neovim" />
  <package id="fiddler" />
  -->
</packages>
